body {
  max-width: 1500px;
}
.nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  background-color: white;
  text-align: center;
  padding-top: 125px;
  transform: translateX(-100%);
  transition: 0.7s;
}

.nav li {
  margin-top: 50px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #03c;
}

.nav.open {
  display: block;
  z-index: 2;
  transform: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 1;
}

header h1 {
  font-size: 24px;
  margin-left: 20px;
}

header ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }
}

header li {
  margin-left: 20px;
}

header a {
  color: black;
  text-decoration: none;
  line-height: 25px;
  font-weight: bold;
}

header a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.hamburger {
  display: none;
  margin-right: 20px;
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 3;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

.hamburger span {
  display: block;
  height: 4px;
  width: 35px;
  background-color: black;
  transition: 0.3s;
}

.hamburger span:nth-child(2) {
  margin: 10px 0;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
  transition: 0.3s;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-14px) rotate(-45deg);
  transition: 0.3s;
}


.main-title {
  width: 100%;
  height: 80vh;
  background-image: url(../img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  /* display: table; */
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.main-title-inner {
  width: 85%;
  margin: 0 auto;
  /* display: table-cell;
  vertical-align: middle; */
} 

.main-title h1 {
  color: white;
  font-size: 50px;
  line-height: 80px;
}

.main-title p {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.main-info {
  background-color: #222;
  padding: 90px 60px;
}

.main-info h2 {
  color: white;
  font-size: 30px;
}

.main-info p {
  color: white;
  font-size: 15px;
  line-height: 25px;
  margin-top: 30px;
}

.service {
  padding: 80px 0;
  margin: 0 60px;
}

.service h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.service-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-box {
  width: 49%;
}



.service-box:nth-child(3) {
  margin-top: 30px;
}

.service-box:nth-child(4) {
  margin-top: 20px;
}

.service-box img {
  width: 100%;
}

.service-box-text h3 {
  line-height: 30px;
  font-size: 18px;
}

.service-box-text p {
  line-height: 25px;
}

.service a {
  display: block;
  height: 40px;
  width: 300px;
  background-color: #cd0224;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  margin: 40px auto 0;
  font-weight: bold;
}

.service a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .service-inner {
    display: block;
  }

  .service-box {
    width: 100%;
    margin-top: 18px;
  }
}

.news {
  padding: 80px 60px;
  background-color: #222;
}

.news-title {
  display: flex;
  justify-content: space-between;
}

.news-title h2 {
  font-size: 30px;
  color: white;
}

.news-title a {
  display: block;
  height: 35px;
  width: 160px;
  color: white;
  background-color: #cd0224;
  text-decoration: none;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.news-list ul {
  list-style: none;
}

.news-list a {
  display: block;
  width: 100%;
  height: 65px;
  background-color: white;
  text-decoration: none;
  margin-top: 10px;
  line-height: 65px;
  color: black;
  padding-left: 15px;
}

.news-list span {
  font-weight: bold;
  margin-left: 10px;
}

.news-list li:first-child {
  margin-top: 30px;
}

.news a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .news-list a {
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    margin-top: 10px;
  }

  .news-list a:first-child {
    margin-top: 10px;
  }
}

.blog {
  margin: 80px 60px;
}

.blog h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.blog-inner {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .blog-inner {
    display: block;
  }
}

.blog-item {
  width: 32%;
  text-decoration: none;
  color: black;
}

.blog-item:first-child {
  margin-top: 10px;
}

.blog-item img {
  width: 100%;
}

.blog-item img:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.blog-date {
  margin-top: 10px;
  font-size: 14px;
}

.blog-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
  line-height: 25px;
}

.blog>a {
  display: block;
  height: 40px;
  width: 300px;
  background-color: #cd0224;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  margin: 40px auto 0;
  font-weight: bold;
}

.blog>a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.main-link {
  display: flex;
  height: 240px;
  margin-bottom: 80px;
}

.main-link-red {
  display: block;
  background-color: #cd0224;
  width: 50%;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 240px;
  font-size: 25px;
  font-weight: bold;
}

.main-link-red:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.main-link-black {
  display: block;
  background-color: #222;
  width: 50%;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 240px;
  font-size: 25px;
  font-weight: bold;
}

.main-link-black:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.inquiry {
  text-align: center;
  padding: 85px 0;
  background-color: #f5f6f9;
}

.inquiry h2 {
  font-size: 30px;
  margin-bottom: 25px;
}

.inquiry a {
  display: block;
  height: 40px;
  width: 300px;
  background-color: #cd0224;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  margin: 40px auto 0;
  font-weight: bold;
}

.inquiry a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

footer {
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  background-color: #222;
  color: white;
  font-size: 12px;
}

footer ul {
  list-style: none;
  display: flex;
}

footer a {
  color: white;
  text-decoration: none;
  display: block;
  border-left: 1px solid white;
  padding: 0 15px;
}

footer .list-first {
  border-left: none;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 0;
  }

  footer p {
    width: 50%;
    text-align: center;
    line-height: 245px;
  }

  footer ul {
    display: block;
    width: 50%;
    padding: 10px 0 20px;
  }

  footer li {
    margin-top: 20px;

  }

  footer a {
    border: none;
    /* background-color: pink; */
    text-align: center;
    padding: 0;

  }

}